{%extends 'layout.html'%}
{%block title%}Login{%endblock%}
{%block body%}
<div class="login-page">
  <div class="form">
    <form class="login-form" action="{{ url_for('login') }}" method="POST">
      <h2>Inicia sesión</h2>
      <input type="text" name="name" placeholder="Username" id="user" autocomplete="off" required/>
      <input type="password" name ="pass"  placeholder="Password" id="pass" autocomplete="off" required/>
      <span id="vaild-pass"></span>
      <button type="submit" value="xxx">Iniciar sesión</button>
      <p class="message"> No tienes una cuenta? <a href="{{ url_for('register') }}">Registrate</a></p>
    </form>
    <div class="alert alert-{{category}}" role="alert">
      {{msg}}
    </div>
  </div>
</div>
{%endblock%}