{%extends 'layout.html'%}
{%block title%}Registro{%endblock%}
{%block body%} 
<section class="wrapper">
  <div>
    <div class="formRegister">
      <h2>Registrate</h2>
      <form action="{{ url_for('register') }}" method="POST">
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="email" class="form-control" name="email" placeholder="Email" id="email" autocomplete="off" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Username</label>
          <input type="username" class="form-control" name="username" placeholder="username" id="username" autocomplete="off" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" class="form-control" name="password" placeholder="Password" id="password" autocomplete="off" required>
        </div>
        <div class="message">
          <p>{{msg}}</p>
        </div>
        <button type="submit" value="Registrar">Registrar</button>
      </form>
      <br>
      <div>
        <p class="text">
          ¿Ya tienes una cuenta? <a href="{{ url_for('index') }}" id="registerUser">Inicia sesión</a>
      </div>
    </div>
  </div>
</section>
{%endblock%}